{% extends 'index.html' %}
{% block content %}
    <div class="container" id="bodyapp">
        <div class="row">
            <h4>Know your weather!!</h4>
            <div class="searchform col s12">
                <form class="currentweatherform" method='POST'>
                    {% csrf_token %}
                    <input  name="city" type="text" placeholder="City Name">
                    <button type="submit" class="btn" value="Search">Search</button>
                </form>
            </div>
            {% if weather %}
                <div class="currentweather col s12">
                    <!-- <h3>{{city}}, {{ country }}</h3> -->
                    <p>Today's weather: </p>
                    <ul>
                        <li>The weather is {{ weather }}</li>
                        <img src=http://openweathermap.org/img/w/{{ weather_icon }}.png>

                        <!-- <li>The wind speed  is {{windspeed}}m/s</li> -->
                        <!-- <li>note {{ note }}</li> -->
                        <!-- <li>The average temperature is {{temp}} &#8451;</li> -->
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}